body {
	background-image: url(./IMG/fond.svg);
	background-repeat: no-repeat;
	background-size: cover;
}
form {
	margin-top: 7vh;
	margin-left: 8vw;
}

svg {
	float: left;
	margin-right: 2vh;

}

#tourist {
	margin-top: 1vh;
}

#logo {
	height: 200px;
	width: 350px;
	background-image: url(./IMG/logo.svg);
	background-repeat: no-repeat;
}

.form-control {
	border: none;
	border-bottom: 2px #CF2A4A solid;
	border-radius: 0;
	background-color: #c9c9c901;
}

.form-control:focus {
	border: none;
	border-bottom: crimson;
}

#departure-date, #return-date{
	margin-left:  2vh;
	width: 190px;
}

#adult {
	margin-left: -1vh;
	width: 100px;
}

#child {
	margin-left: -15vh;
	width: 100px;
}

.btn {
	color: #CF2A4A;
	background-color: white;
	font-weight: bold;
	width: 270px;
	height: 45px;
	font-size: 20px;
	margin-top: 3vh;
	margin-left: 10vh;
}

.newInput  {
	margin: 1vh;
}

.addPlace {
	margin-bottom: 1vh;
	border-bottom: crimson 1px solid;
	width: 20vw;
}

#recap {
	margin-top: 1vh;
}